body{
    overflow-x:hidden;
}

.section-title{
    margin-bottom: 50px;
    margin-top: 5px;
}

.navbar{
   position: fixed;
    top:0px;
    width: 100%;
    z-index: 99;
}

.nav-item{
    padding-right: .5rem;
    padding-left: .5rem;
}


/*HEADER*/
span{
    color: orange;
}

.hello{
    padding-top: 20%;
}

/*FEATURES*/
.card-img-top{
    height: 3.5rem;
    width: 3.5rem;
    padding-left: 20px;
}

.badge{
   
    background-color: #ea580c33 !important;
    color:#f56642 ;
    border: 1px solid #f56642;
    padding: 8px 15px;
    text-transform: uppercase;
}

.row{
    padding-top: 10px;
}




/*PORTFOLIO*/



.text-center{
    
    align-items: center;
}

/*PRICING*/
.text{
    color:#f56642;
}


/*BLOG*/



/*FAQ*/
.card-img-to{
    height:90%;
    width: 90%;
    padding-top: 50px;
}


/*CONTACT*/

#ic{
    list-style-type: none;
}

.section-padding{
    padding-bottom:80px;
}

.banner{
    padding: 100px 0;
}

.price-padding{
    padding: 30px;
}

.content{
    padding: 10px;
}

.footer-links{
    list-style: none;
    padding-left: 0;
}

.footer-links li{
    margin-bottom: 15px;
    display: block;
}

.footer-title{
    margin-bottom: 20px;
}

.footer-logo{
    margin-bottom: 20px;
}

input{
    margin-top: 20px;
}