.navbar{
    position: fixed;
    top:0px;
    width: 100%;
}



span{
    color: orange;
}

/*FEATURES*/
.card-img-top{
    height: 3.5rem;
    width: 3.5rem;

}

/*FAQ*/
.card-img-to{
    height:70px;
    width: 70px;
}


