.navbar{
    z-index: 99%;
    position: fixed;
    top:0px;
    width: 100%;
}

.nav-item{
    padding-right: .5rem;
    padding-left: .5rem;
}


/*HEADER*/

.container{
    padding-top: 100px;
}

.img-fluid{
    padding-top: 50px;
}

span{
    color: orange;
}




/*FEATURES*/
.card-img-top{
    height: 3.5rem;
    width: 3.5rem;
    padding-left: 20px;
}



.badge{
   border-radius: 7rem;
    background-color: #ff590c6c;
    color:#f56642 ;
    border-color: #f56642;
    border-style: solid;
    text-transform: uppercase;
}

.row{
    padding-top: 30px;
}


.card{
   padding-top: 20px;
   padding-left: 20px;
}

/*BLOG*/

.row justify-content-center{
    padding-top: 10px;
}

/*FAQ*/
.card-img-to{
    height:90%;
    width: 90%;
}


/*CONTACT*/

#ic{
    list-style-type: none;
}

